body,h1
{
	text-align: center;
}

h1
{
	background-color: #82cafa;
}

h2
{
	
}

.input-method-container
{
	display:inline-block;
	margin:20px;
}

.input-method-text
{
	width:250px;
}

#import-solusUrl
{
	
}